<div class="panel panel-default" id="a9" >
	<div class="panel-heading">
		<div class="text-center panel-title">
        <h4>Log In</h4>
    </div>
	</div>
	<div class="panel-body thread-row">
		<div class="row thread-row">
			<div class="col-xs-12 visible-xs-block">
				<div class="clerafix top-border">&nbsp;</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= form_tag '/login' do %>
					<label>Email address</label>
					<%= text_field_tag :email, "", :class => "form-control" %><br>
					<label>Password</label>
          <%= password_field_tag :password, "", :class => "form-control" %> <br>
          <%= submit_tag "Login", :class => "btn btn-primary" %>
        <% end %>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			&nbsp;
		</div>
	</div>
</div>
