
<div class="home-buttons">
  <%= link_to signup_path, method: :get, :class => "btn btn-primary" do %>
  Sign Up
  <% end %>

  <%= link_to "#", method: :get, :class => "btn btn-primary" do %>
    Profile Page
  <% end %>
</div>
