
 <!-- Jumbotron -->
 <div class="jumbotron">
   <img class="jumbotron-image" src="http://i61.tinypic.com/2rptf9f.png">
 </div>

 <!-- Example row of columns -->
 <div class="row">
   <div class="col-lg-4">
     <h2>Who Would Win?</h2>
     <p class="text-danger">Ever wonder about the result of a matchup? Well, wonder no longer!</p>
     <p> Use the "Simulation" feature to run a simulated matchup.  All you need to do is choose two teams! Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
     <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
   </div>
   <div class="col-lg-4">
     <h2>Smack Talk</h2>
     <p> Rep your team or bash another one.  Think the results of a matchup are bogus?  Or do appreciate the outcome?  Air it out in our Smack Talk Forum! Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
     <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
   <div class="col-lg-4">
     <h2>Cool</h2>
     <p>Yeah!!! Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
     <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
   </div>
 </div>
