<div class="panel panel-default">
	<div class="panel-heading">
		<div class="text-center panel-title">
        <h4>About</h4>
    </div>
	</div>
	<div class="panel-body thread-row">
		<div class="row thread-row">
			<div class="text-center">
			Developed & designed by James de la Cruz <br>
			jamesdelacruz@gmail.com <br>
			<a href="mailto:jamesdelacruz@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
			<a href="https://www.linkedin.com/in/jamesdelacruz"><i class="fa fa-linkedin fa-2x"></i></a>
			<a href="https://github.com/jamesdlc"><i class="fa fa-github-alt fa-2x"></i></a>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			&nbsp;
		</div>
	</div>
</div>
